{% extends 'main/layout2.html' %}
{% load static %}
{% block about %}
<section class="about-section" style="margin-top:5vh;margin-bottom:15vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for about_page in about_pages|slice:1 %}

                <div class="about-img">
                    <img src="{{ about_page.image.url }}" alt="logo" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6">
                <h2>{{ about_page.title }}</h2>
                <p>{{ about_page.description }}</p>

            </div>
            {% endfor %}

        </div>

    </div>
</section>
{% endblock %}