{% extends 'main/layout2.html' %}
{% block contact %}
{% load static %}

<div class="container mt-4 contact">
    <div class="row">
        <div class="col-lg-6">
            <h2>Свяжитесь с нами</h2>
  <div class="container mt-5">
    <!-- Button for Telegram -->
    <a href="https://t.me/selbie_adv" class="btn btn-danger btn-lg" target="_blank">Чат с менеджером</a>
  </div>
        </div>
        <div class="col-lg-6">
            <h2>Контактная информация</h2>
            <p><strong>Телефон:</strong> +7 (123) 456-7890</p>
            <p><strong>Адрес:</strong> г. Москва, ул. Примерная, д. 123</p>
            <p><strong>Telegram:</strong> @example_telegram</p>
            <p><strong>Email:</strong> info@example.com</p>
        </div>
    </div>
</div>

{% endblock %}