{% extends 'main/layout2.html' %}
{% block contact %}
{% load static %}

<div class="container mt-4" style="margin-bottom:50px;">
    <div class="row">
        <div class="col-lg-6">
            <h2>Свяжитесь с нами</h2>
  <div class="container mt-2">
    <!-- Button for Telegram -->
    <a href="https://t.me/selbie_adv" class="btn btn-danger btn-lg" target="_blank">Чат с менеджером</a>
  </div>
        </div>
        <div class="col-lg-6">
            <h2>Контактная информация</h2>
            <p><strong>Telegram:</strong> @https://t.me/selbie_adv</p>
        </div>
    </div>
</div>

{% endblock %}