{% extends 'main/layout2.html' %}
{% block index %}
{% load static %}

{% include 'main/slider.html' %}
{% include 'main/products.html' %}



<div class="container-fluid banner">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'main/img/banner.webp' %}" class="img-fluid" alt="Advertisement Image">
        </div>
    </div>
</div>


<section class="blog">
        <h3 class="text-center">Блог</h3>
    <div class="row justify-content-center">
        {% for article in published_articles %}
        <div class="card-blog">
            <img src="{{ article.cover_image.url }}" alt="Post Image">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content|slice:":150"|safe }}{% if article.content|length > 150 %}...{% endif %}</p>
        </div>
{% endfor %}
        </div>
</section>

<div class="container-fluid banner">
    <div class="row">
        <div class="col-12">
            <img src="{% static 'main/img/banner.webp' %}" class="img-fluid" alt="Advertisement Image">
        </div>
    </div>
</div>


{% endblock %}