{% extends 'main/layout2.html' %}
{% block index %}
{% load static %}

{% include 'main/slider.html' %}
{% include 'main/products.html' %}


<div class="container-fluid banner">
    <div class="row">
        {% if banners_top.exists %}  <!-- Проверяем, существует ли хотя бы один баннер -->
        <div class="col-12">
            {% with banner=banners_top.first %}  <!-- Извлекаем первый баннер из QuerySet -->
            <img src="{{ banner.image.url }}" class="img-fluid" alt="Advertisement Image">
            {% endwith %}
        </div>
        {% else %}
        <div class="col-12">
            <p>No banners available.</p>
        </div>
        {% endif %}
    </div>
</div>


<section class="blog">
        <h3 class="text-center">Блог</h3>
    <div class="row justify-content-center">
        {% for article in published_articles %}
        <div class="card-blog">
            <img src="{{ article.cover_image.url }}" alt="Post Image">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content|slice:":150"|safe }}{% if article.content|length > 150 %}...{% endif %}</p>
        </div>
{% endfor %}
        </div>
</section>

<div class="container-fluid banner">
    <div class="row">
        {% if banners_center.exists %}  <!-- Проверяем, существует ли хотя бы один баннер -->
        <div class="col-12">
            {% with banner=banners_center.first %}  <!-- Извлекаем первый баннер из QuerySet -->
            <img src="{{ banner.image.url }}" class="img-fluid" alt="Advertisement Image">
            {% endwith %}
        </div>
        {% else %}
        <div class="col-12">
            <p>No banners available.</p>
        </div>
        {% endif %}
    </div>
</div>

<div class="container-fluid banner">
    <div class="row">
        {% if banners_bottom.exists %}  <!-- Проверяем, существует ли хотя бы один баннер -->
        <div class="col-12">
            {% with banner=banners_bottom.first %}  <!-- Извлекаем первый баннер из QuerySet -->
            <img src="{{ banner.image.url }}" class="img-fluid" alt="Advertisement Image">
            {% endwith %}
        </div>
        {% else %}
        <div class="col-12">
            <p>No banners available.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}