{% extends 'main/layout.html' %}
{% block index %}
<main>


<section class="obv-1">
	    	<h3 class="text-center" style="margin-bottom: 8vh;">Рекомендации</h3>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" style="margin-bottom: 5vh;">
                <label for="select-make">Марка авто:</label>
                <select class="form-control" id="select-make">
                	<option value="BMW">Любая</option>
                    <option value="BMW">BMW</option>
                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Ford">Ford</option>
                    <option value="Audi">Audi</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="select-model">Модель авто:</label>
                <select class="form-control" id="select-model">
                	<option value="BMW">Любая</option>
                    <option value="X5">X5</option>
                    <option value="E-Class">E-Class</option>
                    <option value="Corolla">Corolla</option>
                    <option value="Mustang">Mustang</option>
                    <option value="A4">A4</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="select-year">Год выпуска:</label>
                <select class="form-control" id="select-year">
                	<option value="BMW">Любая</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2023">2023</option>
                </select>
            </div>
        </div>
    </div>
</div>

    <div class="row justify-content-center">
<div class="col-md-3">
    <div class="card">
        <img src="img/auto1.jpg" data-hover-src="img/auto2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
</div>
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto1.jpg" data-hover-src="img/auto2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto1.jpg" data-hover-src="img/auto2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto1.jpg" data-hover-src="img/auto2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto2.jpg" data-hover-src="img/auto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto2.jpg" data-hover-src="img/auto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto2.jpg" data-hover-src="img/auto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
        <div class="col-md-3">
    <div class="card">
        <img src="img/auto2.jpg" data-hover-src="img/auto1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Название товара</h5>
            <p class="card-text">Цена: $100</p>
            <p class="card-text">Дата публикации: 01.01.2024</p>
            <a href="#" class="btn btn-danger">Подробнее</a>
        </div>
    </div>
        </div>
    </div>

</section>

<section class="checkin">

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h3>Есть вопросы? Мы свяжемся с вами!</h3>
        <p>И мы сами свяжемся с вами в течение 10 минут и ответим на все ваши вопросы</p>

        <form class="form-inline justify-content-center">
            <div class="form-group mr-4">
                <input type="text" class="form-control" id="fullname" placeholder="Введите ваше ФИО">
            </div>
            <div class="form-group mr-4">

                <input type="tel" class="form-control" id="phone" placeholder="Ваш номер телефона">
            </div>

            <button type="submit" class="btn btn-danger">Отправить</button>
        </form>
    </div>
</div>

</section>

</main>



{% endblock %}