<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ads</title>
</head>
<body>
    <h1>Активные объявления</h1>
    <h2>Автомобили</h2>
    <ul>
        {% for ad in active_car_ads %}
            <li>{{ ad.title }}</li>
        {% endfor %}
    </ul>

    <h2>Недвижимость</h2>
    <ul>
        {% for ad in active_realty_ads %}
            <li>{{ ad.title }}</li>
        {% endfor %}
    </ul>

    <h2>Работа</h2>
    <ul>
        {% for ad in active_job_ads %}
            <li>{{ ad.title }}</li>
        {% endfor %}
    </ul>

    <h1>Неактивные объявления</h1>
    <h2>Автомобили</h2>
    <ul>
        {% for ad in inactive_car_ads %}
            <li>{{ ad.title }}</li>
        {% endfor %}
    </ul>

    <h2>Недвижимость</h2>
    <ul>
        {% for ad in inactive_realty_ads %}
            <li>{{ ad.title }}</li>
        {% endfor %}
    </ul>

    <h2>Работа</h2>
    <ul>
        {% for ad in inactive_job_ads %}
            <li>{{ ad.title }}</li>
        {% endfor %}
    </ul>
</body>
</html>