
{% extends 'main/layout2.html' %}

                {% block blog %}

<div class="container-fluid mt-4 p-1" style="margin-bottom: 25px;">
    <div class="row">
        <div class="col-3">
<div class="text-center">
    <i class="fas fa-user-circle profile" style="margin-top: 5px; padding-bottom:15px;color:#000;font-size:48px;"></i>
    <p><strong>Логин:</strong> {{ user.username }}</p>
</div>
        </div>
        <div class="col-9">
            <h3>Мои объявления</h3>

            <h4 class="left">Активные</h4>

    <div class="row">
            {% for ad in active_car_ads %}
            <div class="col-md-4 mb-4">
    <div class="card-product text-left ">
        <div class="p-2">
            <span class="badge badge-success">Авто</span>
        </div>
        <div class="prod-text">
            <h5 class="card-title">
                 <a href="{% url 'car-detail' pk=ad.pk %}" style="text-decoration: none; color: inherit;font-size:24px;">{{ ad.title }}</a>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.views }}</p>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.date_published }}</p>
            </h5>
        </div>
    </div>
</div>
        {% endfor %}

        {% for ad in active_realty_ads %}
            <div class="col-md-4 mb-4">
    <div class="card-product text-left ">
        <div class="p-2">
            <span class="badge badge-primary">Недвижимость</span>
        </div>
        <div class="prod-text">
            <h5 class="card-title">
                <a href="{% url 'car-detail' pk=ad.pk %}" style="text-decoration: none; color: inherit;font-size:24px;">{{ ad.title }}</a>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.views }}</p>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.date_published }}</p>
            </h5>
        </div>
    </div>
</div>
        {% endfor %}

        {% for ad in active_job_ads %}
            <div class="col-md-4 mb-4">
    <div class="card-product text-left ">
        <div class="p-2">
            <span class="badge badge-warning">Работа</span>
        </div>
        <div class="prod-text">
            <h5 class="card-title">
                <a href="{% url 'job-detail' pk=ad.pk %}" style="text-decoration: none; color: inherit;font-size:24px;">{{ ad.title }}</a>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.views }}</p>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.date_published }}</p>
            </h5>
        </div>
    </div>
</div>
        {% endfor %}
</div>


                        <h4 class="left">Не активные</h4>

    <div class="row">
            {% for ad in inactive_car_ads %}
            <div class="col-md-4 mb-4">
    <div class="card-product text-left ">
        <div class="p-2">
            <span class="badge badge-success">Авто</span>
        </div>
        <div class="prod-text">
            <h5 class="card-title">
                 <a href="{% url 'car-detail' pk=ad.pk %}" style="text-decoration: none; color: inherit;font-size:24px;">{{ ad.title }}</a>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.views }}</p>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.date_published }}</p>
            </h5>
        </div>
    </div>
</div>
        {% endfor %}

        {% for ad in inactive_realty_ads %}
            <div class="col-md-4 mb-4">
    <div class="card-product text-left ">
        <div class="p-2">
            <span class="badge badge-primary">Недвижимость</span>
        </div>
        <div class="prod-text">
            <h5 class="card-title">
                <a href="{% url 'realty_detail' pk=ad.pk %}" style="text-decoration: none; color: inherit;font-size:24px;">{{ ad.title }}</a>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.views }}</p>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.date_published }}</p>
            </h5>
        </div>
    </div>
</div>
        {% endfor %}

        {% for ad in inactive_job_ads %}
            <div class="col-md-4 mb-4">
    <div class="card-product text-left ">
        <div class="p-2">
            <span class="badge badge-warning">Работа</span>
        </div>
        <div class="prod-text">
            <h5 class="card-title">
                 <a href="{% url 'jobs-detail' pk=ad.pk %}" style="text-decoration: none; color: inherit;font-size:24px;">{{ ad.title }}</a>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.views }}</p>
                <p style="font-size:12px;"><i class="fas fa-eye"></i> {{ ad.date_published }}</p>
            </h5>
        </div>
    </div>
</div>
        {% endfor %}
</div>

  </div>
    </div>
</div>



                {% endblock %}