{% extends 'main/layout2.html' %}
{% load static %}
{% block profile %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1>Profile of {{ profile.name }}</h1>
    <p>Email: {{ profile.email }}</p>
    <p>Telegram: {{ profile.telegram }}</p>
    <p>Phone: {{ profile.phone }}</p>
    <!-- Добавьте ссылки на редактирование или другие действия -->
    <a href="{% url 'profile-edit' profile.pk %}">Edit Profile</a>
</body>
{% endblock %}