{% extends 'main/layout2.html' %}
{% load static %}
{% block profile %}


<style>

:root {
    --primary-bg: #171717;
    --secondary-bg: #262626;
    --accent-bg: #d24a43;

    --primary-color: #fff;
    --secondary-color: rgba(255,255,255, 70%);
    --accent-color: #d24a43;

    --border-color: rgba(255,255,255, 30%);

    --username-size: 32px;
    --title-size: 28px;
    --subtitle: 24px;
}


    .profile-card {
    width: 100%;
    background-color: var(--primary-bg);
    border-radius: 40px;
    border: 2px solid var(--accent-bg);
    padding:25px;
    display: grid;
    grid-template-rows: 220px auto;
    margin-bottom:5vh;
}
/* ------ profile header section */
.profile-header {
    background: url('/static/main/img/banner.jpg') center;
    background-size: cover;
    margin: 10px;
    border-radius: 30px 30px 0 0;
    position: relative;
}
    .main-profile {

        display: flex;
        align-items: center;
        position: absolute;
        inset: calc(100% - 75px) auto auto 70px;
    }
.profile-image {
    width: 150px;
    height: 150px;
    background: url('/static/main/img/avaprofile.png') center;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid var(--primary-bg);
    margin-right:25px;
}

        .profile-names {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--primary-color);
            background-color: var(--primary-bg);
            padding: 10px 30px;
            border-radius: 0 50px 50px 0;
            transform: translateX(-10px);
        }
            .page-title {
                color: var(--secondary-color);
            }

/* ------- profile body header */
.profile-body {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 70px;
    padding: 70px;
}
    .profile-actions {
        display: grid;
        grid-template-rows: repeat(2, max-content) auto;
        gap: 10px;
        margin-top: 30px;
    }
    .profile-actions button {
        all: unset;
        padding: 10px;
        color: var(--primary-color);
        border: 2px solid var(--accent-bg);
        text-align: center;
        border-radius: 10px;
    }
        .profile-actions .follow {background-color: var(--accent-bg)}
    .bio {
        color: var(--primary-color);
        background-color: var(--secondary-bg);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
    }
        .bio-header {
            display: flex;
            gap: 10px;
            border-bottom: 1px solid var(--border-color);
            color: var(--secondary-color);
        }
    .account-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr 1fr;
        gap: 20px;
    }
        .data {
        margin-top:45px;
            grid-area: 1/1/2/3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--secondary-color);
            padding: 90px;
            text-align: center;
            border: 1px solid var(--border-color);
            border-radius: 15px;
        }
            .important-data {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .other-data {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:22px;
                background-color: var(--secondary-bg);
                padding: 15px;
                border-radius: 10px;
            }
            .data-item .value {
                color: var(--accent-color);
            }
                .important-data .value {
                    font-size: var(--title-size);
                }
                .other-data .value {
                    font-size: var(--subtitle);
                }
        .social-media {
            grid-area: 2/1/3/3;
            background-color: var(--secondary-bg);
            color: var(--secondary-color);
            padding: 15px;
            border-radius: 10px;

            display: flex;
            align-items: center;
            gap: 15px;
        }
            .media-link {
                text-decoration: none;
                color: var(--accent-color);
                font-size: var(--subtitle);
            }
        .last-post {
            margin-top:40px;
            grid-area: 1/3/3/4;
            border: 1px solid var(--border-color);
            background-color: var(--secondary-bg);
            border-radius: 10px;
            padding: 10px;
            height:37vh;
            display: grid;
            grid-template-rows: 70% auto max-content;
            gap: 10px;
        }
.post-cover {
    position: relative;
    background-size: cover;
    border-radius: 5px;
    height: 100%; /* Установите высоту в 100% для заполнения родительского блока */
}


.last-badge {
    position: absolute;
    top: 10px; /* Подстройте для нужного положения */
    left: 10px; /* Подстройте для нужного положения */
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--primary-color);
    padding: 5px;
    border-radius: 3px;
}

.post-title {
    color: var(--primary-color);
    font-size: 18px;
}

.post-CTA {
    text-align: center;
    border: 1px solid var(--accent-color);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    background:var(--accent-color);
}

.post-CTA:hover {
    color: var(--accent-color);
        color: #000;
    text-decoration:none;
}

/* ------------ media queries */
@media screen and (max-width: 950px) {
    .last-post {
        display: none;
    }
    .data, .social-media {
        grid-column: 1/4;
    }
}


@media screen and (max-width: 768px) {
    .profile-card {
        height: 100%;
        border-radius: 0;
    }
        .profile-header {
            border-radius: 0;
        }
            .main-profile {
                inset: calc(100% - 75px) auto auto 50%;
                transform: translateX(-50%);

                flex-direction: column;
                text-align: center;
            }
                .profile-names {transform: translateX(0)}
        .profile-body {
            grid-template-columns: 1fr;
            gap: 20px;
        }
            .profile-actions {
                grid-template-columns: repeat(2, 1fr);
                margin-top: 90px;
            }
                .bio {grid-column: 1/3;}

            .data {gap: 20px;}
}

.btn-edite {
background-color:var(--accent-color);
padding:2px;
margin-left:2px;
}


#id_telegram {
    width: 100%;
    border: 2px solid #d24a43;
    padding:2px;
}

#id_name {
    width: 100%;
    border: 2px solid #d24a43;
    padding:2px;
}

#id_email {
    width: 100%;
    border: 2px solid #d24a43;
    padding:2px;
}

#id_phone {
    width: 100%;
    border: 2px solid #d24a43;
    padding:2px;
}

</style>
<!--    <div class="container mt-5">-->
<!--        <i class="fas fa-user-circle profile" style="margin-top: 5px; padding-bottom:15px;color:#000;font-size:48px;"></i>-->
<!--        <h3>{{ user.username }}</h3>-->

<!--        <div class="profile-info">-->
<!--            <p>Ваше имя:</p>{% if profile.name %}  {{ profile.name }} {% else %} Профиль не задан {% endif %}-->

<!--            <p>Email:</p>-->
<!--            <strong>-->
<!--                {% if profile.email %}-->
<!--                    {{ profile.email }}-->
<!--                {% else %}-->
<!--                    Email не задан-->
<!--                {% endif %}-->
<!--            </strong>-->

<!--            <p>Номер:</p>-->
<!--            <strong>-->
<!--                {% if profile.phone %}-->
<!--                    {{ profile.phone }}-->
<!--                {% else %}-->
<!--                    Номер не задан-->
<!--                {% endif %}-->
<!--            </strong>-->

<!--            <p>Telegram:</p>-->
<!--            <strong>-->
<!--                {% if profile.telegram %}-->
<!--                    {{ profile.telegram }}-->
<!--                {% else %}-->
<!--                    Телеграм не задан-->
<!--                {% endif %}-->
<!--            </strong>-->
<!--        </div>-->
<!--    </div>-->
<!--</br></br></br></br></br></br></br></br>-->
<!--<h3>Редактирование данные</h3>-->
<!--<p>Изменить имя:</p>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->


<div class=" mt-5">
<div class="profile-card">
            <div class="profile-header"><!-- profile header section -->
                <div class="main-profile">
                    <div class="profile-image"></div>
<div class="profile-names">
    <h1 class="username">{{ user.username }}</h1>

    <small class="page-title" id="profile-name">
        {% if profile.name %}
            {{ profile.name }}
        {% else %}
            Имя не задано
        {% endif %}
        <button type="button" class="btn btn-edite btn-sm" data-toggle="modal" data-target="#editNameModal">
            <i class="fas fa-edit"></i>
        </button>
    </small>
</div>

<!-- Модальное окно для редактирования имени -->
<div class="modal fade" id="editNameModal" tabindex="-1" role="dialog" aria-labelledby="editNameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editNameModalLabel" style="color:var(--accent-color)">Редактировать имя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="updateMessage" style="display: none; color:#86d243;">Данные обновлены</div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                <button type="submit" class="btn btn-edite" id="updateButton">Обновить</button>
                <button type="button" class="btn btn-edite" data-dismiss="modal">Закрыть</button>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>


                </div>
            </div>


                <div class="account-info">
                    <div class="data">
                        <div class="important-data">
<section class="data-item">
    <h3 class="value">{% if profile.telegram %}{{ profile.telegram }}{% else %}Телеграм не задан{% endif %}</h3>
    <small class="title">Telegram</small>

</section>





<section class="data-item">
    <h3 class="value">{% if profile.email %}{{ profile.email }}{% else %}Email не задан{% endif %}</h3>
    <small class="title">Email</small>

</section>




<section class="data-item">
    <h3 class="value">{% if profile.phone %}{{ profile.phone }}{% else %}Имя не задано{% endif %}</h3>
    <small class="title">Телефон</small>

</section>






                        </div>
                        <div class="other-data">
                            <section class="data-item">
                                <h3 class="value">{{ user_ads_count }}</h3>
                                <small class="title">Опубликовано объявлений</small>
                            </section>
                        </div>
                    </div>








{% for ad in user_ads|slice:1 %}
    <div class="last-post">
        <div class="post-cover" style="background-image: url('/media/{{ ad.photos_list.0 }}');">
            <span class="last-badge">Последнее объявление  {% if ad.category == "car" %}
                <span class="badge badge-success">Авто</span>
                {% elif ad.category == "realty" %}
                <span class="badge badge-primary">Недвижимость</span>
                {% elif ad.category == "job" %}
                <span class="badge badge-warning">Работа</span>
                {% endif %} </span>

        </div>
        <h3 class="post-title">{{ ad.title }}</h3>
        <a href="" class="post-CTA" style="">View</a>
    </div>
{% endfor %}




                </div>
            </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#updateButton').click(function() {
            // Здесь можно добавить AJAX-запрос для обновления данных
            // Перед тем как закрыть модальное окно, показываем сообщение
            $('#updateMessage').show();
            // Через 2 секунды закрываем модальное окно
            setTimeout(function() {
                $('#editNameModal').modal('hide');
            }, 2000);
        });
    });
</script>



{% endblock %}