{% extends 'main/layout2.html' %}
{% load static %}
{% block services %}
<div class="container my-5">
    <h3 class="text-center">Услуги</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-cog"></i> Услуга 1</h5>
                    <p class="card-text">Описание услуги 1.</p>
                    <a href="#" class="btn btn-danger">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-tools"></i> Услуга 2</h5>
                    <p class="card-text">Описание услуги 2.</p>
                    <a href="#" class="btn btn-danger">Подробнее</a>
                </div>
            </div>
        </div>
                <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-cog"></i> Услуга 1</h5>
                    <p class="card-text">Описание услуги 1.</p>
                    <a href="#" class="btn btn-danger">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-tools"></i> Услуга 2</h5>
                    <p class="card-text">Описание услуги 2.</p>
                    <a href="#" class="btn btn-danger">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}