<div class="text-left">
    <form id="update-form" method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <input type="hidden" name="updated_fields" value=""> <!-- Добавляем скрытое поле для хранения обновленных данных -->
        <div class="form-group">
            <label for="id_telegram_username"><strong>Ваш логин Телеграм:</strong></label>
            <div class="input-group">
                <input type="text" id="id_telegram_username" name="telegram_username" value="{{ form.instance.telegram_login }}" class="form-control" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" onclick="enableFieldAndSubmit('id_telegram_username', 'telegram_username')"><i class="fas fa-edit"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="id_phone_number"><strong>Ваш Номер телефона:</strong></label>
            <div class="input-group">
                <input type="text" id="id_phone_number" name="phone_number" value="{{ form.instance.phone_number }}" class="form-control" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" onclick="enableFieldAndSubmit('id_phone_number', 'phone_number')"><i class="fas fa-edit"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
function enableFieldAndSubmit(fieldId) {
    var field = document.getElementById(fieldId);
    field.removeAttribute('readonly');
    field.focus();
    var form = field.closest('form');
    form.submit();
}
</script>
