    body {

        overflow-x: hidden;

    }


    .full-screen-header {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #d7d7d7;
    /*    background-color: #0d0e3a;  Любой цвет фона */
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;

    }

    .navbar {
        margin-top: 20px; /* отступ сверху */
    }

    .nav-item a {
    color: #524545;
}

        .navbar-brand img {
            max-width: 100%;
            height: auto;
        }
        .dropdown-menu {
            margin-top: 8px; /* увеличиваем отступ сверху в выпадающем меню */
        }
        .tg {
            margin-left: 10px; /* устанавливаем отступ для элемента с классом tg */
        }
        .tg .nav-link {
            display: flex;
            align-items: center;
        }
        .tg .telegram-icon {
            margin-right: 5px;
        }

@media (max-width: 576px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0; /* Добавьте отступы по вашему желанию */
    }

    .nav-item {
        text-align: center;
    }
}

.carousel-inner {
    display: flex;
    transition: transform 0.6s ease;
    height: 100%; /* Добавляем высоту 100% для растягивания на всю высоту контейнера */
}

.carousel-item {
    width: 100%;
    justify-content: center;
    transition: transform 0.6s ease;
}

.carousel-item.active {
    display: block;
}

.ttlslider {
    height: 100%;
    margin-top: 4.5vh; /* Добавим высоту 100% для растягивания на всю высоту родителя */
}

.carousel-item .row {
    display: flex;
    height: 100%;
}

.carousel-inner img {
    width: 65vh; /* Ширина изображения 900 пикселей */
    height:55vh;
    object-fit: contain; /* Масштабировать изображение до заполнения контейнера */
}

.carousel-caption {
    padding: 20px;
    color: #524545;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-indicators{
top: 55vh;
margin-top: -100px;
}

.carousel-indicators li{
    background-color: #524545;
}

.service {
margin-top: 6vh;
margin-bottom: 15vh;

 }


.card-serv {
  width: 300px;
  min-height: 50px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10;
}

.card-serv h4 {
  color: #000;
}


.card{
    border:0px;
}

.card-body i {
    /* color: #00fcff; */
    color: #505050;
    font-size: 5vh;
}

.card-body h5 {
        margin-top: 2vh;
}

.obv-1{
margin-top: 5vh;
padding: 11vh;
margin-bottom: 5vh;

}

.obv-1 img {
    border-radius: 15px;

}

.obv-1 .card-img-top {
    object-fit: cover;
    height: 50%; /* Выберите желаемую высоту */
    width: 100%; /* Чтобы оставаться внутри контейнера */
}

.obv-1 .card {
    height: 100%;
}

.checkin {
    padding-top: 7vh;
    background-image: url('img/questions-bg.png');
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.checkin {
    color: #524545;
}

.checkin form {
margin-top: 5vh;
}


.footer {
    background-color: #d7d7d7;
    padding: 20px 0;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
    margin-right: 10px;
    margin-top: 1vh;
}

a {
        color: #524545;
}

a:hover {
        text-decoration: none;
        color: #fff;
}

.list-inline-item:last-child {
    margin-right: 0;
}

.footer article {
color: #524545;
font-size: 1.2vh;
margin-top: 5vh;
letter-spacing: 1px;
font-weight: 700;
 }


 .top-ft {
border-bottom: 1px solid #524545;
margin-bottom: 2vh;
border-left-width:50%;

  }


.contact-ft-border {
    color: #ed1a14;
    text-decoration: none;
    list-style-type:none;
}

        .contact-ft-border li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .contact-ft-border li svg {
            margin-right: 15px;
        }
.contact-ft {
margin-top: 3vh;
}

.info-ft {
    margin-top: 5vh;
}


.detail {
    padding: 3rem;
    margin-bottom: 5vh;
}

.carousel {
    margin-bottom: -10vh;
}