{% extends 'main/layout2.html' %}

{% block cars %}


<div class="container mt-4 cars">
    <div class="row">
        <div class="col-md-9">
            {% for ad in car_ads %}
            <div class="card mb-4">
                <div class="card-body card-body-flex">
                    <div class="image-container">
                        <img id="main-image-{{ forloop.counter }}" class="main-image">
                    </div>
                    <div class="text-container">
                        <a href="{% url 'carad-detail' pk=ad.pk %}">
                            <h5 class="card-title">{{ ad.car_brand }} {{ ad.car_model }}</h5>
                        </a>
                        <p class="card-text">
                            <strong>Год выпуска:</strong> {{ ad.car_year }}<br>
                            <strong>Цена:</strong> {{ ad.car_price }} {{ currency }}<br>
                            <strong>Местоположение:</strong> {{ ad.car_location }}
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="col-md-3">
            <div id="sidebar" class="p-3  border-danger rounded">
                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-danger">Фильтр</button>
                    <a href="{% url 'cars' %}" class="btn btn-secondary">Сбросить</a>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}