{% extends 'main/layout2.html' %}

{% block jobs %}
<style>
    .card-body-flex {
        display: flex;
    }

    .image-container {
        flex: 1;
        max-width: 200px;
        max-height: 150px;
        overflow: hidden;
    }

    .main-image {
        width: 100%;
        height: 120px;
        object-fit: cover;
    }

    .text-container {
        flex: 2;
        padding: 0 20px;
    }
</style>

<div class="container mt-4 cars">
    <div class="row">
        <div class="col-md-9"> <!-- Make the main content wider towards the left -->
            {% for ad in job_ads %}
            <div class="card mb-4">
                <div class="card-body card-body-flex">
                <div class="image-container">
                {% if ad.photos_list %}
                    <img src="/media/{{ ad.photos_list.0 }}" class="main-image" alt="Car Image">
                {% else %}
                    <img src="#" class="main-image" alt="No Image Available">
                {% endif %}
                           </div>

                    <div class="text-container">
                        <a href="{% url 'job-detail' ad.pk %}">{{ ad.title }}</a>
                        <p class="card-text">
                            <strong>Категория:</strong> {{ ad.job_category }} <br>
                            <strong>Зарплата:</strong>
                        <p class="price"price-rub="{{ ad.price }}">{{ ad.price }} {{ ad.currency }}</p>
                        <br>

                        <p class="date-published">Дата публикации: {{ ad.date_published }}</p>
                        <p>Просмотры: {{ ad.views }}</p>
                    </div>
                 </div>
                </div>
                </div>
            {% endfor %}




        <!-- Sidebar with sorting and filters -->
        <div class="col-md-3">
            <p>Фильтр корректно работает только с валютой RUB</p>
            <!-- Sidebar с сортировкой и фильтрами -->
            <div id="sidebar" class="p-3  border-danger rounded">
                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-danger">Фильтр</button>
                    <a href="{% url 'jobs' %}" class="btn btn-secondary">Сбросить</a>
                </form>
            </div>
        </div>
 </div>
            </div>


{% endblock %}