{% extends 'main/layout2.html' %}


{% block realty %}

<style>
    .card-body-flex {
        display: flex;
    }

    .image-container {
        flex: 1;
        max-width: 360px;
        max-height: 240px;
        overflow: hidden;
    }

    .main-image {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }


    .text-container {
        flex: 2;
        padding: 0 20px;
    }
</style>

<div class="container mt-4 cars">
    <div class="row">
        <div class="col-md-9"> <!-- Make the main content wider towards the left -->
            {% for ad in realty_ads %}
            <div class="card mb-4"> <!-- Added margin bottom for spacing -->
                <div class="card-body card-body-flex">
                    <div class="image-container">
                        {% if ad.photos_list %}
                            <img src="/media/{{ ad.photos_list.0 }}" class="main-image" alt="Realty Image">
                        {% else %}
                            <img src="#" class="main-image" alt="No Image Available">
                        {% endif %}
                    </div>
                     <div class="text-container"  style="flex: 2; padding: 0 20px;">
                        <a href="{% url 'realty-detail' pk=ad.pk %}">
                            <h5 class="card-title">{{ ad.title }}, {% if ad.realty_rooms is not none %} к. {{ ad.realty_rooms }} ,{% endif %}  {% if ad.realty_floor is not none %}эт {{ ad.realty_floor }}{% endif %}/{% if ad.realty_floor_total is not none %}{{ ad.realty_floors_total }}{% endif %}</h5>
                        </a>
                        <p class="card-text">
                            <strong><p class="price" price-rub="{{ ad.price }}">{{ ad.price }} {{ ad.currency }}</p></strong><br>
                         <p style="font-size:13px;">{{ ad.description|slice:":45"|safe }}{% if ad.description|length > 45 %}... {% endif %}<a style="color:#000;" href="{% url 'realty-detail' pk=ad.pk %}"> Подробнее</a></p>
                         {{ ad.realty_location }}
                         <p class="date-published">{{ ad.date_published }} <i class="fas fa-eye"></i> {{ ad.views }}</p>
                        </p>
                    </div>
                </div>
            </div>
                    </div>
            {% endfor %}


        <div class="col-md-3">
            <p>Фильтр корректно работает только с валютой RUB</p>
            <div id="sidebar" class="p-3">

                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-danger">Фильтр</button>
                    <a href="{% url 'realty' %}" class="btn btn-secondary">Сбросить</a>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}