{% extends 'main/layout2.html' %}

{% block realty %}
<div class="container mt-4 cars">
    <div class="row">
        <div class="col-md-9"> <!-- Make the main content wider towards the left -->
            {% for ad in realty_ads %}
            <div class="card mb-4"> <!-- Added margin bottom for spacing -->
                <div class="card-body card-body-flex">
                    <div class="image-container">
                        {% if ad.photos_list %}
                            <img src="/media/{{ ad.photos_list.0 }}" class="main-image" alt="Realty Image">
                        {% else %}
                            <img src="#" class="main-image" alt="No Image Available">
                        {% endif %}
                    </div>
                     <div class="text-container"  style="flex: 2; padding: 0 20px;">
                        <a href="{% url 'realty-detail' pk=ad.pk %}">
                            <h5 class="card-title">{{ ad.title }}</h5>
                        </a>
                        <p class="card-text">
                            <strong><p class="price" price-rub="{{ ad.price }}">{{ ad.price }} {{ ad.currency }}</p> <br></strong>
                        <p style="font-size:12px;">{{ ad.date_published }} </p>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="col-md-3">
            <p>Фильтр корректно работает только с валютой RUB</p>
            <div id="sidebar" class="p-3">

                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-danger">Фильтр</button>
                    <a href="{% url 'realty' %}" class="btn btn-secondary">Сбросить</a>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}