{% extends 'main/layout2.html' %}


{% block realty %}

<style>
    .card-body-flex {
        display: flex;
    }

    .image-container {
        flex: 1;
        max-width: 360px;
        max-height: 240px;
        overflow: hidden;
    }

    .main-image {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }


    .text-container {
        flex: 2;
        padding: 0 20px;
    }


    #open-modal {
    position: fixed;
    top: 260px; /* Расстояние от нижней части экрана */
    right: 20px; /* Расстояние от правой части экрана */
    z-index: 999; /* Убедитесь, что кнопка находится поверх других элементов */
}

/* Стили для модального окна уже были приведены выше */,
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.modal-content {
     opacity: 0.95; /* Полупрозрачный элемент */
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Ширина модального окна */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


</style>

<div class="container mt-4 cars">
    <div class="row">
        <div class="col-md-9"> <!-- Make the main content wider towards the left -->
            {% for ad in realty_ads %}
            <div class="card mb-4"> <!-- Added margin bottom for spacing -->
                <div class="card-body card-body-flex">
                    <div class="image-container">
                        {% if ad.photos_list %}
                            <img src="/media/{{ ad.photos_list.0 }}" class="main-image" alt="Realty Image">
                        {% else %}
                            <img src="#" class="main-image" alt="No Image Available">
                        {% endif %}
                    </div>
                     <div class="text-container"  style="flex: 2; padding: 0 20px;">
                        <a href="{% url 'realty-detail' pk=ad.pk %}">
                            <h5 class="card-title">{{ ad.title }}, {% if ad.realty_rooms is not none %} к. {{ ad.realty_rooms }} ,{% endif %}  {% if ad.realty_floor is not none %}эт {{ ad.realty_floor }}{% endif %}/{% if ad.realty_floor_total is not none %}{{ ad.realty_floors_total }}{% endif %}</h5>
                        </a>
                        <p class="card-text">
                            <strong><p class="price" price-rub="{{ ad.price }}">{{ ad.price }} {{ ad.currency }}</p></strong><br>
                         <p style="font-size:13px;">{{ ad.description|slice:":45"|safe }}{% if ad.description|length > 45 %}... {% endif %}<a style="color:#000;" href="{% url 'realty-detail' pk=ad.pk %}"> Подробнее</a></p>
                         {{ ad.realty_location }}
                         <p class="p-2" style="font-size:12px;">{{ ad.date_published }} | <i class="fas fa-eye"></i> {{ ad.views }} </p>
                        </p>
                    </div>
                </div>
            </div>
                    </div>
            {% endfor %}


<div class="col-md-3" id="filter-container">
    <p>Фильтр корректно работает только с валютой RUB</p>
    <div id="sidebar" class="p-3">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-danger">Фильтр</button>
            <a href="{% url 'realty' %}" class="btn btn-secondary">Сбросить</a>
        </form>
    </div>
</div>

<!-- Кнопка открывающая модальное окно -->
<button id="open-modal" class="btn btn-danger" style="display: none; width: 50px; height: 50px;">
    <i class="fas fa-filter" style="font-size: 28px;"></i>
</button>

<div id="filter-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-filter-btn">&times;</span>
        <div>
            <p>Фильтр корректно работает только с валютой RUB</p>
            <div id="modal-filter" class="p-3">
                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-danger">Фильтр</button>
                    <a href="{% url 'realty' %}" class="btn btn-secondary">Сбросить</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filterContainer = document.getElementById('filter-container');
        const openFilterModalButton = document.getElementById('open-modal');
        const filterModal = document.getElementById('filter-modal');
        const closeFilterBtn = document.querySelector('.close-filter-btn');

        function toggleFilterContainer() {
            if (window.innerWidth < 1000) {
                filterContainer.style.display = 'none';
                openFilterModalButton.style.display = 'block';
            } else {
                filterContainer.style.display = 'block';
                openFilterModalButton.style.display = 'none';
                filterModal.style.display = 'none'; // Закрываем модал при увеличении размера
            }
        }

        // Обработчик открытия модального окна
        openFilterModalButton.onclick = function () {
            filterModal.style.display = 'block';
        };

        // Обработчик закрытия модального окна
        closeFilterBtn.onclick = function () {
            filterModal.style.display = 'none';
        };

        // Закрытие модального окна при клике вне его
        window.onclick = function (event) {
            if (event.target === filterModal) {
                filterModal.style.display = 'none';
            }
        };

        // Добавляем обработчик изменения размера окна
        window.addEventListener('resize', toggleFilterContainer);

        // Инициализируем состояние при загрузке страницы
        toggleFilterContainer();
    });
</script>


{% endblock %}